body {
   background: #222;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
   flex-wrap: wrap-reverse;
   gap:15px 10px;
   height:fit-content;
 }
 
 .score-box {
   position: relative;
   width: 72px;
   height: 72px;
   background-color: rgba(124, 124, 124, 0.6);
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 


 .icon {
   position: absolute;
   top: -15px;
   width: 48px;
   height: 48px;
   z-index: 1;
 }
 
 .score-badge {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 2px 8px;
   border-radius: 10px;
   font-size: 14px;
   color:white;
   z-index: 2;
 }
 .star-badge {
   position: absolute;
   bottom: -8px;
   right: -8px;
   background-color: rgba(255, 215, 0, 0.8);
   padding: 2px 8px;
   border-radius: 10px;
   font-size: 13px;
   font-weight: bold;
   color: black;
   z-index: 2;
 }
 label {
   margin-top: 40px;
   font-size: 12px;
   color: white;
   z-index: 2;
 }
 .countdown-background {
   position: absolute;
   bottom: 0;
   left: 0;
   height: 4px;
   width: 100%;
   background-color: rgba(40, 40, 40, 0.8);
   border-radius:0 0 4px 4px;
   clip-path: inset(0 round 0 0 6px 6px); /* Clip respects border radius */
 }

 .countdown-bar {
   position: absolute;
   bottom: 0;
   left: 0;
   height: 4px;
   width: 0%;
   /* border-radius: 0 0 6px 6px; */
   background-color: yellow;
   transform-origin: left;
   /* animation: countdown 10s linear forwards; */
 }
 
 /* Animation for the countdown */
 @keyframes countdown {
   from {
     width:100%;
   }
   to {
     width: 0;
   }
 }
 